html {
  border: 5px solid #FFB4A2;
  background-color: #B5838D;
  border-left: none;
  border-right: none;

}

body {
  background-color: #6D6875;
  margin: 40px;
  padding: 50px;
  border: 10px solid #E5989B;
  border-radius: 9px;
  color: #FFCDB2;
  font-size: 20px;
  font-family: verdana;
  font-family: 'Open Sans', sans-serif;

}

.hidden {
  display: none;
}
